<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

The purpose of this notebook is to showcase the knowledge and skills developed in the Data Science Tools course involving the creation of Jupyter Notebooks. This is my submission.

**Objectives:**
- Popular languages used in Data Science
- Some tools used in Data Science
- Arithmetic expressions in Jupyter

We can list a number of languages used regularly in Data Science, for example:
1. Python
2. R
3. Scala
4. julia
5. C++

and so on...

And some of the libraries commonly used in Data Science, such as:
1. Pandas
2. NumPy
3. Keras
4. Seaborn
5. matplotlib

Also, some of the tools that commonly find their use in Data Science are shown in the table below 
| Data Science Tools |
|---|
| Apache Spark |
| PostgreSQL |
| Jupyter |

### Jupyter can evaluate arithmetic expressions

In [1]:
## Arithmetic expression including multiplication and sum
(3*4)+5

17

In [2]:
## This computation converts 200 minutes into hours
200/60

3.3333333333333335

## Author
Gildardo Mejía Álvarez